/* Styling for the header */
@import "/modules/header.css";
/* The styling for search-bar */
@import "/modules/searchbar.css";
/* Styling for the planets */
@import "/modules/planets-index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --primary-font-color: #fff;
  --secondary-font-color: #FFD029;
}

/* Fonts */
@font-face {
  font-family: "anta";
  font-weight: normal;
  src: url(/fonts/Anta/Anta-Regular.ttf);
}

/* Body */
body {
  font-family: "anta";
  color: var(--primary-font-color);
  background: linear-gradient(to bottom, #020202, #012552);
  background-repeat: no-repeat;
  height: 100vh;
}